input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-muted {
    color: #6c757d; /* Bootstrap's text-muted color */
}
