.max-w-md{
    max-width: 48rem;
}

.order-component-modal{
    width: 100%;
}

.room-number-card-mini{
    background-color: #faebd7;
    padding: 3px;
    border-radius: 3px;
    margin-right: 2px;
    text-align: center;
    color: #000;
}