<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead><tr><td>
          <div class="header-space">&nbsp;</div>
        </td></tr></thead>
        <tbody><tr><td>
          <div class="content">
           <app-invoice-component [reservation]="reservation"></app-invoice-component>
          </div>
        </td></tr></tbody>
        <tfoot><tr><td>
          <div class="footer-space">&nbsp;</div>
        </td></tr></tfoot>
      </table>
</body>
</html>
