<app-notification *ngIf="showNotification" [notificationData]="notificationParams"></app-notification>
<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="isCheckOutModalVisible" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
    <div class="p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow dark:bg-gray-700" style="width: 500px;">
            <i role="button" (click)="closeCheckOutModal()" class="fas fa-multiply float-right pt-4 me-2 fa-lg text-white"></i>

            <div
                class="flex justify-center items-center  items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <div class="w-full max-w-2xl">
                    <div class="flex justify-center">
                        <ng-container *ngFor="let step of steps; let i = index">
                            <div class="flex items-center">
                                <div class="flex items-center justify-center w-10 h-10 rounded-full text-white"
                                    [ngClass]="{'bg-blue-500': currentStep >= i, 'bg-gray-400': currentStep < i}">
                                    {{ i + 1 }}
                                </div>
                                <div class="flex-1 h-1 mx-2"
                                    [ngClass]="{'bg-blue-500': currentStep > i, 'bg-gray-400': currentStep <= i}"></div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="mt-4">
                        <ng-container [ngSwitch]="currentStep">
                            <div *ngSwitchCase="0">
                                <div
                                    class="flex items-center justify-between ps-4 pb-2 pt-2 md:ps-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                        Bill Info
                                    </h3>
                                </div>

                                <div class="grid gap-2 mb-4 grid-cols-2 mt-2">

                                    <div class="col-span-1 px-5">
                                        <label for="name"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Customer
                                            Name</label>
                                        <input type="text"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                            placeholder="customerName" style="transition: all 0.15s ease 0s;"
                                            [(ngModel)]="this.selectedOrder.customerName" />

                                    </div>

                                    <div class="col-span-1 px-5">
                                        <label for="discount"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Payment Type
                                        </label>
                                        <select id="role" [(ngModel)]="this.selectedOrder.paymentType"
                                            class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            <option value="0" selected>Cash</option>
                                            <option value="1">Online</option>
                                        </select>
                                    </div>

                                    <div class="col-span-1 px-5">
                                        <label for="discount"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Discount Type
                                        </label>
                                        <select id="role" [(ngModel)]="this.selectedOrder.discountType"
                                            class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg w-full focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                            <option value="0" selected>Percent</option>
                                            <option value="1">Flat</option>
                                        </select>
                                    </div>

                                    <div *ngIf="this.selectedOrder.discountType == 0" class="col-span-1 ps-5 pe-2">
                                        <label for="discount"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Discount %
                                        </label>
                                        <input type="number"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                            placeholder="discount" style="transition: all 0.15s ease 0s;"
                                            [(ngModel)]="this.selectedOrder.discountPercent" />

                                    </div>
                                    <div *ngIf="this.selectedOrder.discountType == 1" class="col-span-1 ps-5 pe-2">
                                        <label for="discount"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Discount Amount
                                        </label>
                                        <input type="number"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                            placeholder="discount" style="transition: all 0.15s ease 0s;"
                                            [(ngModel)]="this.selectedOrder.discountAmt" />
                                    </div>

                                </div>
                            </div>
                            <div *ngSwitchCase="1">
                                <div
                                    class="flex items-center justify-between ps-4 pb-2 pt-2 md:ps-5 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                        Bill Info
                                    </h3>
                                </div>
                                <div class="max-h-56 overflow-y-scroll">
                                    <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <thead
                                            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    Description
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Quantity
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Per unit price
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="orders.length === 0" class="h-60">
                                                <td colspan="6" class="text-center text-xl py-16">
                                                    No records found
                                                </td>
                                            </tr>
                                            <tr *ngFor="let order of selectedOrder.orders"
                                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                                <td class="px-6 py-4">
                                                    {{ order.name }}
                                                </td>
                                                <td class="px-6 py-4">
                                                    {{ order.qty }}
                                                </td>
                                                <td class="px-6 py-4">
                                                    {{ order.price }}
                                                </td>

                                                <td class="px-6 py-4">
                                                    {{ order.price * order.qty}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="px-4">
                                    <div class="flex mt-2 items-center justify-end">
                                        <span for="name"
                                            class="block me-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Sub total:
                                        </span>
                                        <span for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                                            {{selectedOrder.subTotal}}
                                        </span>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <span for="name"
                                            class="block me-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Discount:
                                        </span>
                                        <span for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                                            {{selectedOrder.discountAmt}}
                                        </span>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <span for="name"
                                            class="block me-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Tax:
                                        </span>
                                        <span for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                                            {{selectedOrder.taxAmt}}
                                        </span>
                                    </div>
                                    <div class="flex items-center justify-end">
                                        <span for="name"
                                            class="block me-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Grand total:
                                        </span>
                                        <span for="name" class="block text-sm font-medium text-gray-900 dark:text-white">
                                            {{selectedOrder.totalPayable}}
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div *ngSwitchCase="2">Step 3 Content</div> -->
                            <!-- Add more steps as needed -->
                        </ng-container>
                    </div>

                    <div class="flex items-right p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600 px-5"
                        style="margin: -1.25rem; margin-top: 0.5rem">
                        <button (click)="previousStep()" [disabled]="currentStep === 0"
                            class="ml-5 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">
                            Previous
                        </button>
                        <button (click)="nextStep()" *ngIf="currentStep !== steps.length - 1"
                            class="ml-5 py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            Next</button>
                        <button (click)="checkOut()" *ngIf="currentStep === steps.length - 1"
                            class="ml-5 py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="flex-1 p-4 bg-gray-800 h-full">
    <div class="flex items-center justify-between mb-2">
        <div class="text-lg font-semibold dark:text-white">Bill</div>
    </div>

    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-100">

    <div class="flex items-center flex-row-reverse">
        <div class="space-y-4 md:space-y-0 py-4">

            <div class="flex items-center">
                <!-- <div class="relative max-w-sm mx-2">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fas fa-calendar text-gray-200"></i>
                    </div>
                    <input [(ngModel)]="filter.date" id="datepicker-filter" type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date">
                </div> -->
                <select id="role" [(ngModel)]="filter.status"
                    class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" class="bg-gray-700" selected>All Status</option>
                    <option *ngFor="let status of getOrderStatusList()" [value]="status.key">{{ status.value }}
                    </option>
                </select>
                <select id="role" [(ngModel)]="filter.tableNumber"
                    class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" class="bg-gray-700" selected>All Table</option>
                    <option *ngFor="let table of tableNumbers" [value]="table._id">{{ table.tableNumber }}
                    </option>
                </select>
                <div class="relative">
                    <!-- <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fas fa-user text-white"></i>
                    </div>
                    <input type="text" id="simple-search" [(ngModel)]="filter.customerName"
                        (change)="searchInputChanged($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search employee name.." required /> -->
                        <app-autocomplete [searchControl]="searchControl" [filteredOptions]="filteredOptions" (callback)="updateFilterOptions($event)"></app-autocomplete>
                </div>
                <button type="button" (click)="searchButtonClicked()"
                    class="p-2.5 px-4 ms-1 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 ">
                    <!-- <i class="fas fa-search text-white"></i> -->
                    <span>Apply</span>
                </button>
                <button type="button" (click)="clearFilter()"
                    class="p-2.5 px-4 ms-1 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 ">
                    <!-- <i class="fas fa-search text-white"></i> -->
                    <span>Clear</span>
                </button>
            </div>

        </div>

    </div>


    <div class="overflow-x-auto shadow-md sm:rounded-lg h-80">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 ">
                <tr>
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Table Number
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Customer Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="orders.length === 0" class="h-60">
                    <td colspan="6" class="text-center text-xl py-16">
                        No records found
                    </td>
                </tr>
                <tr *ngFor="let order of orders"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-{{ order.id }}" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-table-search-{{ order.id }}" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        {{ order.table.tableNumber }}
                    </td>
                    <td class="px-6 py-4">
                        {{ order.customerName ?? "N/A" }}
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            {{ getOrderStatus(order.status)}}
                        </div>
                    </td>

                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            {{ order.total}}
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <!-- Modal toggle -->
                        <button *ngIf="order.status != 3" type="button" (click)="payNow(order)"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Pay Now
                        </button>
                        <button *ngIf="order.status == 3" type="button" (click)="checkOutAndPrintInvoice(order)"
                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Generate Invoice
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [dataCount]="filter.pagination.dataCount" [page]="filter.pagination.page"
        [pageSize]="filter.pagination.pageSize" (callback)="updatePaginationPage($event)"></app-pagination>

</div>