<div class="container">
	<div class="inv-title">
		<h1>Food Invoice #{{filter.id}}</h1>
	</div>
	<!-- <img src="./ZAF.jpg" class="inv-logo" /> -->
	<div class="inv-header">
		<div>
			<h2>Hotel Name</h2>
			<ul>
				<li>Address 1</li>
				<li>Address 2</li>
				<li>888-555-2311</li>
			</ul>

		</div>
		<div>
			<table>
				<tr>
					<th>Issue Date</th>
					<td>{{invoiceDate | date:'short'}}</td>
				</tr>
				<tr>
					<th>PAN No.</th>
					<td>--</td>
				</tr>
				<tr>
					<th>Customer Name</th>
					<td>{{this.table.customerName}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="inv-body">
		<table>
			<thead>
				<th>Summary</th>
				<th>Quantity</th>
				<th>UnitPrice(Rs)</th>
				<th>Price(Rs)</th>
			</thead>
			<tbody>
				<tr *ngFor="let order of table.orders">
					<td>
						<p>{{order.name}}</p>
					</td>
					<td>{{order.qty}}</td>
					<td>{{order.price}}</td>
					<td>{{order.price * order.qty}}</td>
				</tr>
				<tr>
					<td colspan="2" class="border-0"></td>
					<th>Sub total</th>
					<td>{{this.amount.subTotal}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="inv-footer">
		<div><!-- required --></div>
		<div>
			<table>
				<tr>
					<th>Discount ({{this.table.discount ?? 0}})%</th>
					<td>{{this.amount.discountAmt}}</td>
				</tr>
				<tr>
					<th>Sales tax ({{this.table.tax ?? 0}})%</th>
					<td>{{this.amount.taxAmt}}</td>
				</tr>
				<tr>
					<th>Grand total</th>
					<td>{{this.amount.totalPayable}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>