<app-notification *ngIf="showNotification" [notificationData]="notificationParams"></app-notification>
<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="isRoomFormOpen" tabindex="-1"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-40">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" style="width: 500px">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    <span *ngIf="!isUpdate">Create</span>
                    <span *ngIf="isUpdate">Update</span>
                    Rooms
                </h3>
                <button (click)="closeModal()" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form [formGroup]="createRoomRequest" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-1">
                        <label for="roomNumber"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Room Number</label>
                        <input type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Room Number" style="transition: all 0.15s ease 0s;"
                            formControlName="roomNumber" />
                        <div *ngIf="createRoomRequest.get('roomNumber')?.invalid 
                                && (createRoomRequest.get('roomNumber')?.dirty 
                                || createRoomRequest.get('roomNumber')?.touched)">
                            <div *ngIf="createRoomRequest.get('roomNumber')?.errors?.['required']"
                                class="text-red-500 text-xs italic">
                                Room Number is Required</div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price
                            Per Day</label>
                        <input type="number"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Pricer Per Day" style="transition: all 0.15s ease 0s;"
                            formControlName="pricePerDay" />
                        <div
                            *ngIf="createRoomRequest.get('pricePerDay')?.invalid && (createRoomRequest.get('pricePerDay')?.dirty || createRoomRequest.get('pricePerDay')?.touched)">
                            <div *ngIf="createRoomRequest.get('pricePerDay')?.errors?.['required']"
                                class="text-red-500 text-xs italic">
                                Room Number is Required</div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <label for="occupancyStatus"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Occupancy Status</label>
                        <select id="role" formControlName="occupancyStatus"
                        
                            class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option class="text-gray-400" value="">Select occupany Status</option>
                            <option
                                *ngFor="let roomStatus of roomOccupancyStatusList"
                                [value]="roomStatus.key">{{ roomStatus.value }}
                            </option>
                        </select>
                        <div *ngIf="createRoomRequest.get('occupancyStatus')?.invalid 
                                && (createRoomRequest.get('occupancyStatus')?.dirty 
                                || createRoomRequest.get('occupancyStatus')?.touched)">
                            <div *ngIf="createRoomRequest.get('occupancyStatus')?.errors?.['required']"
                                class="text-red-500 text-xs italic">
                                Please select occupance status.</div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <label for="maintainanceStatus"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Maintainance
                            Status</label>
                        <select id="role" formControlName="maintainanceStatus"
                            class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option class="text-gray-400" value="">Select maintainance Status</option>
                            <option
                                *ngFor="let maintainanceStatus of maintainanceStatusList"
                                [value]="maintainanceStatus.key">
                                {{ maintainanceStatus.value}}
                            </option>
                        </select>
                        <div *ngIf="createRoomRequest.get('maintainanceStatus')?.invalid 
                                && (createRoomRequest.get('maintainanceStatus')?.dirty 
                                || createRoomRequest.get('maintainanceStatus')?.touched)">
                            <div *ngIf="createRoomRequest.get('maintainanceStatus')?.errors?.['required']"
                                class="text-red-500 text-xs italic">
                                Please select Maintainance status.</div>
                        </div>
                    </div>
                </div>
                <div class="flex items-right p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
                    style="margin: -1.25rem; margin-top: 0.5rem">
                    <button type="submit" (click)="formSubmitted()"
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">Save</button>
                    <button (click)="closeModal()" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="flex-1 p-4 bg-gray-800 h-full">
    <div class="mx-auto max-w-screen-2xl">
        <div class="flex items-center justify-between mb-2">
            <div class="text-lg font-semibold text-white">Rooms</div>
        </div>

        <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-100">

        <div class="flex items-center py-4">
            <div class="flex w-40">
                <button (click)="openCreateRoomForm()"
                    class="block text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700"
                    type="button">
                    Add Room
                </button>

            </div>


            <div class="flex items-center w-full justify-end">
                <select id="roomNumber" [(ngModel)]="filter.roomNumber"
                    class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" selected>All Rooms</option>
                    <option *ngFor="let roomNumber of getRoomNumber()" [value]="roomNumber">Room No. {{ roomNumber
                        }}
                    </option>
                </select>

                <select id="occupancyStatus" [(ngModel)]="filter.occupancyStatus"
                    class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" selected>All Occupancy</option>
                    <option *ngFor="let status of constantService.getStatusValuesAsDictionary('roomOccupancyStatus')"
                        [value]="status.key">{{status.value}}
                    </option>
                </select>

                <select id="maintainanceStatus" [(ngModel)]="filter.maintainanceStatus"
                    class="me-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" selected>All Status</option>
                    <option *ngFor="let status of constantService.getStatusValuesAsDictionary('roomMaintainanceStatus')"
                        [value]="status.key">{{status.value}}
                    </option>
                </select>
                <button type="button" (click)="searchButtonClicked()"
                    class="p-2.5 px-4 ms-1 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 ">
                    <!-- <i class="fas fa-search text-white"></i> -->
                    <span>Apply</span>
                </button>
                <button type="button" (click)="clearFilter()"
                    class="p-2.5 px-4 ms-1 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 ">
                    <!-- <i class="fas fa-search text-white"></i> -->
                    <span>Clear</span>
                </button>
            </div>


        </div>


        <div class="min-h-96 mb-4">
        <div
            class="mt-4 mb-4 grid grid-cols-2 gap-4 rounded-lg md:grid-cols-3 xl:grid-cols-4 xs:grid-cols-1 lg:gap-6 justify-center">
            <!-- logo - start -->
            <div *ngFor="let room of allRooms"
                class="width-200 flex h-28 w-52 items-center justify-center rounded-lg bg-gray-100 p-2 text-gray-400">
                <div class="card-content">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold dark:text-gray-700">{{room.roomNumber}}</dt>
                        <dd class="text-gray-600 text-sm font-semibold dark:text-gray-700 mb-2 uppercase">
                            {{constantService.getStatusString('roomOccupancyStatus', room.occupancyStatus)}} |
                            {{constantService.getStatusString('roomMaintainanceStatus', room.maintainanceStatus)}}</dd>
                        <dd class="text-gray-600 text-sm font-semibold dark:text-blue-600 uppercase cursor-pointer">
                            <span role="button" (click)="openUpdateForm(room)">Update <i
                                    class="fa-solid fa-pen text-xs"></i></span>
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <app-pagination [dataCount]="filter.pagination.dataCount" [page]="filter.pagination.page"
                [pageSize]="filter.pagination.pageSize" [hasNoItems]="allRooms.length == 0"
                (callback)="updatePaginationPage($event)"></app-pagination>
    </div>
</div>