<aside id="sidebar-multi-level-sidebar"
  class="md:left-0 
    fill-height md:block 
    md:overflow-y-auto 
    md:flex-row md:flex-nowrap 
    md:overflow-hidden 
    shadow-xl bg-white flex 
    flex-wrap items-center 
    justify-between md:w-52 
    dark:bg-gray-900"
  aria-label="Sidebar">

  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-900">
    <a href="#" class="flex items-center ps-2.5 mb-5">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <ul class="space-y-2 font-medium">
      <li>
        <a [routerLink]="['/admin', { outlets: { main: 'dashboard' } }]" routerLinkActive="router-link-active"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fas fa-chart-pie opacity-75"></i>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <button type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-example" data-collapse-toggle="employee-dropdown">
          <i class="fas fa-user opacity-75"></i>
          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Employee</span>
          <i class="fa-solid fa-caret-down ms-2"></i>
        </button>
        <ul id="employee-dropdown" class="hidden py-2 space-y-2">
          <li>
            <a [routerLink]="['/admin', { outlets: { main: 'employee' } }]" routerLinkActive="router-link-active"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 uppercase text-sm dark:text-white dark:hover:bg-gray-700">List</a>
          </li>
          <li>
            <a [routerLink]="['/admin', { outlets: { main: 'employee-attendance' } }]" routerLinkActive="router-link-active"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 uppercase text-sm dark:text-white dark:hover:bg-gray-700">Schedule</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        [routerLink]="['/admin', { outlets: { main: 'reservations' } }]"><i class="fa-solid fa-person-shelter text-sm"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Reservation</span>
        </a>
      </li>
      <li>
        <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          [routerLink]="['/admin', { outlets: { main: 'rooms' } }]" routerLinkActive="router-link-active"><i
            class="fa-solid fa-door-open text-sm me-3"></i>
          Rooms</a>
      </li>

      <hr class="my-4 md:min-w-full" />

      <li>
        <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
          (click) = "logout()"
          [routerLink]="['/dashboard']" 
          routerLinkActive="router-link-active">
          <i class="fas fa-right-from-bracket opacity-75"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Sign out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>