<app-loader *ngIf="isLoading"></app-loader>
<div class="container h-full mx-auto dark:bg-gray-700">
    <div class="flex items-center justify-between mb-2 ps-4 pt-4">
        <div class="text-lg font-semibold dark:text-white">Dashboard</div>

    </div>

    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-100 ms-4">
    <div class="grid grid-cols-4 gap-4 p-4">
        <div class="bg-white p-4 rounded shadow flex justify-between">
            <div class="flex flex-col justify-center w-40">
                <div class="text-md text-gray-500 dark:text-blue-700">
                    Cash In Hand
                </div>
                <div class="text-xl py-1 font-bold">
                    Rs. {{this.dashboardData.billToday}}
                </div>
                <div class="text-sm text-gray-500">
                    Today
                </div>
            </div>
            <div class="flex-1">
                <i class="fas fa-dollar-sign fa-3x dark:text-green-400"></i>
            </div>
        </div>
        <div class="bg-white p-4 rounded shadow flex justify-between">
            <div class="flex flex-col justify-center w-40">
                <div class="text-md text-blue-700">
                    No. of Reservations
                </div>
                <div class="text-xl py-1 font-bold">
                    {{this.dashboardData.reservationToday}}
                </div>
                <div class="text-sm text-gray-500">
                    Today
                </div>
            </div>
            <div class="flex-1">
                <i class="fas fa-solid fa-person-shelter fa-3x dark:text-yellow-400"></i>
            </div>
        </div>
        <div class="bg-white p-4 rounded shadow flex justify-between">
            <div class="flex flex-col justify-center w-40">
                <div class="text-md text-blue-700">
                    No. of Orders
                </div>
                <div class="text-xl py-1 font-bold">
                    {{this.dashboardData.orderToday}}
                </div>
                <div class="text-sm text-gray-500">
                    Today
                </div>
            </div>
            <div class="flex-1">
                <i class="fas fa-utensils fa-3x dark:text-brown-400"></i>
            </div>
        </div>
        <div class="bg-white p-4 rounded shadow flex justify-between">
            <div class="flex flex-col justify-center w-40">
                <div class="text-md text-blue-700">
                    Total Sales
                </div>
                <div class="text-xl py-1 font-bold">
                    Rs {{this.dashboardData.salesToday}}
                </div>
                <div class="text-sm text-gray-500">
                    Today
                </div>
            </div>
            <div class="flex-1">
                <i class="fas fa-money-bill fa-3x dark:text-green-400"></i>
            </div>
        </div>
    </div>

    <div class="flex justify-between p-4">
        <div class="w-full me-4 rounded shadow">

            <div class="w-full rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
                <div class="flex justify-between mb-5">
                    <div class="grid gap-4 grid-cols-2">
                        <div>
                            <h5
                                class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2">
                                Reservation This Week
                            </h5>
                            <p class="text-gray-900 dark:text-white text-2xl leading-none font-bold
                                flex justify-center">{{this.totalReservationThisWeek}}</p>
                        </div>
                        <div>
                            <h5
                                class="inline-flex items-center text-gray-500 dark:text-gray-400 leading-none font-normal mb-2">
                                No. of Order This Week
                            </h5>
                            <p class="text-gray-900 dark:text-white text-2xl leading-none font-bold
                                flex justify-center">{{this.totalOrderThisWeek}}</p>
                        </div>
                    </div>
                </div>
                <div id="line-chart" #lineChart></div>
                <div
                    class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-2.5">
                    <div class="pt-5">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>