<app-notification *ngIf="showNotification" [notificationData]="notificationParams"></app-notification>
<app-loader *ngIf="isLoading"></app-loader>
<div class="flex w-screen h-screen bg-gray-700">
    <!-- Sidebar start -->
    <div class="flex flex-col items-center w-12 md:w-32 h-full overflow-hidden text-gray-400 bg-gray-900 rounded">
        <a class="flex items-center justify-center w-full px-1 lg:px-3 mt-3">
            <svg class="w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                    d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
            </svg>
            <span class="ml-0 md:ml-2 text-sm font-bold hidden md:block">{{this.userDetails.tenantName}}</span>
        </a>
        <div class="w-full lg:px-2">
            <div class="flex flex-col items-center w-full mt-3 border-t border-gray-700">
                <a
                    class="flex items-center justify-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                    <span class="ml-0 md:ml-2 text-sx font-medium hidden md:block">Home</span>
                </a>
                <a
                    class="flex items-center justify-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300">
                    <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                    <span class="ml-0 md:ml-2  text-sm font-medium hidden md:block">Search</span>
                </a>

                <a role="button" (click)="logout()"
                    [routerLink]="['/waiter']"
                    class="flex items-center justify-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-300">
                    <i class="fas fa-right-from-bracket opacity-75"></i>
                    <span class="ml-0 md:ml-2  text-sm font-medium hidden md:block">Sign Out</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Sidebar end -->

    <!-- modal start -->
    <div *ngIf='isOrderFormOpen' class="fixed inset-0 flex items-center justify-center z-10 bg-gray-900 bg-opacity-50">
        <div class="bg-gray-800 rounded-lg shadow-lg w-10/12 sm:w-3/4 lg:w-1/2">
            <div class="p-4 border-b">
                <h2 class="
                text-sm 
                text-white 
                font-semibold
                sm:text-lg
                ">Update Status</h2>
            </div>
            <div class="">
                <form [formGroup]="orderForm" class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2">
                            <label for="status" class="
                                block
                                mb-1 
                                sm:mb-2
                                text-sm 
                                font-medium 
                                text-gray-900 
                                dark:text-white">Order
                                Status</label>
                            <select id="role" 
                                placeholder="Select order status"
                                formControlName="status"
                                class="bg-gray-50 
                                border 
                                border-gray-300 
                                text-gray-900 
                                text-xs
                                sm:text-sm 
                                rounded-lg 
                                focus:ring-primary-600 
                                focus:border-primary-600 
                                block 
                                w-full 
                                p-2
                                sm:p-2.5 
                                dark:bg-gray-600 
                                dark:border-gray-500 
                                dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option class="text-gray-400" value="" selected>Select order status</option>
                                <option
                                    *ngFor="let status of getOrderStatus()"
                                    [value]="status.key">{{ status.value }}
                                </option>
                            </select>
                            <div *ngIf="orderForm.get('available')?.invalid 
                                    && (orderForm.get('available')?.dirty 
                                    || orderForm.get('available')?.touched)">
                                <div *ngIf="orderForm.get('available')?.errors?.['required']"
                                    class="text-red-500 text-xs italic">
                                    Please select order status.</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-right p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
                        style="margin: -1.25rem; margin-top: 0.5rem">
                        <button type="submit" (click)="onSubmit()" class="
                            text-white 
                            bg-blue-700 
                            hover:bg-blue-800 
                            font-medium 
                            rounded-lg 
                            text-xs
                            sm:text-sm 
                            px-5
                            sm:px-5 
                            py-2
                            sm:py-2.5   
                            text-center 
                            dark:bg-blue-600 
                            dark:hover:bg-blue-700">
                            Update
                        </button>
                        <button (click)="closeModal()" type="button" class="
                            ms-3 
                            text-xs
                            sm:text-sm 
                            px-5
                            sm:px-5 
                            py-1
                            sm:py-2.5    
                            font-medium 
                            text-gray-900 
                            focus:outline-none 
                            bg-white 
                            rounded-lg 
                            border 
                            border-gray-200 
                            hover:bg-gray-100 
                            hover:text-blue-700 
                            focus:z-10 
                            dark:bg-gray-800 
                            dark:text-gray-400 
                            dark:border-gray-600 
                            dark:hover:text-white 
                            dark:hover:bg-gray-700">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal end -->

    <div class="flex-1 p-4 overflow-scroll lg:overflow-hidden">
        <div class="flex items-center justify-between mb-2">
            <div class="text-lg font-semibold dark:text-white">Tables</div>

        </div>

        <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-100">

        <button (click)="addOrderButtonClicked()" class="block 
                text-white 
                bg-blue-700 
                hover:bg-blue-800 
                font-medium 
                rounded-lg 
                text-xs
                sm:text-sm 
                px-3
                sm:px-5 
                py-2
                sm:py-2.5 
                mt-4
                text-center 
                dark:bg-blue-600 
                dark:hover:bg-blue-700" type="button">
            Add Order
        </button>


        <div class="grid 
            grid-cols-2 
            gap-2 
            rounded-lg 
            sm:grid-cols-3
            md:grid-cols-4
            md:gap-0 
            xl:grid-cols-6 
            xs:grid-cols-1 
            justify-center">
            <!-- logo - start -->
            <div 
                *ngFor="let order of orders" 
                [ngClass]="{
                    'bg-red-100': order.status === 0,
                    'bg-green-100': order.status === 1}" 
                class="w-40 mt-4 flex h-28 items-center justify-center rounded-lg p-2 text-gray-400 sm:h-28"
                role="button"
                >
                <div class="card-content">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold dark:text-gray-700">{{order.tableNumber}}</dt>
                        <dd class="text-gray-900 text-xs font-semibold dark:text-gray-700 mb-1 uppercase">
                            Capacity: {{order.capacity}}
                        </dd>
                        <dd class="text-gray-500 text-xs font-semibold dark:text-gray-700 mb-1 uppercase">
                            {{constantService.getStatusString('tableAvailableStatus', order.status)}}
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>